@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700|Heebo|Muli');

body {
    font-size: 12px;
    margin: 0;
    font-family: Muli, Impact, Charcoal, sans-serif;
    /* background-color: rgb(186, 200, 209); */
}

/* Classes 674px */

.header {
    width: 100%;
    margin: auto;
    padding-top: 270px;
    height: 300px;
    background: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .6)),
     url('img/forest.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;   
}

/* 
.header {
    width: 100%;
    margin: auto;
    padding-top: 270px;
    height: 300px;
    background: rgb(171, 192, 212) url('img/forest.jpeg') no-repeat center;
    background-size: cover;
}

.header::before {
    content: "";
    position: absolute;
    width: 100%;
    margin-top: -270px;
    height: 575px;
    background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgb(73, 73, 73));
    background-size: cover;
} */

.h1top {
    text-align: cente;
    font-size: 9rem;
    color: white;
    -webkit-text-stroke: 2px black;
    position: relative;
    margin-top: -285px;
    margin-left: 20px;
    font-weight: bold;
}

.h2top1 {
    text-align: left;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke: 2px black;
    position: relative;
    font-weight: bold;
    margin-top: -25px;
    margin-left: 20px;
}

.h2top2 {
    text-align: left;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke: 2px black;
    position: relative;
    font-weight: bold;
    margin-top: 130px;
    margin-left: 16px;
}

.h2main {
    text-align: center;
    font-size: 5rem;
    color: white;
    -webkit-text-stroke: 2px black;
    position: relative;
    font-weight: bold;
}

.about{
    margin-top: 5px;
}

.text {
    font-size: 1.7rem;
    margin: auto;
    width: 75%;
}

/* Top line seperating image from rest of content */
.line1  {
    content:"";
    position:absolute;
    height:5px;
    width: 100%;
    margin-top:-5px;
    margin-right: 0px;
    background: black;
}

/* Line seperating about me and contact */
.line2 {
    content:"";
    position:absolute;
    height:5px;
    width: 75%;
    margin-top:43px;
    margin-right: -300px;
    background: black;
}

.container {
    width: 75%;
    margin: auto;
    background-color: rgb(157, 201, 207);
    height: 2500px;
}
















